.testimonials {
    background: $theme-offwhite url(../../assets/images/bg-testimonials.png?v=#{$verion}) no-repeat 0 100%;
    background-size: 100% auto;
    padding: 0 0 50px;

    @include media-up(sm) {
        padding: 0 0 70px;
    }

    @include media-up(lg) {
        padding: 0 0 100px;
    }

    @include media-up(xl) {
        padding: 0 0 150px;
    }

    @include media-up(xxl) {
        padding: 0 0 200px;
    }

    .header {
        margin-bottom: 100px;
    }

    .carousel {
        margin: 0 0 70px;

        @include media-up(xs) {
            padding: 0 50px;
        }
    }

    .carousel-inner {
        background: #f8f3da;
        border-radius: 10px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
        padding: 20px 40px;

        @include media-up(xs) {
            padding: 15px;
        }

        @include media-up(md) {
            padding: 20px;
        }

        @include media-up(lg) {
            padding: 30px;
        }
    }

    .carousel-slide {

        @include media-up(sm) {
            display: flex;
            align-items: center;
        }
    }

    q {

        &:after,
        &:before {
          content: '';
        }
    }

    blockquote {
        font-size: 16px;
        display: block;
        position: relative;
        padding: 15px;
        text-align: justify;
        margin: 0;

        @include media-up(sm) {
            font-size: 18px;
            flex-grow: 1;
            padding: 15px 25px;
        }

        @include media-up(md) {
            font-size: 20px;
            padding: 15px 50px;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            background: url(../../assets/images/quote-left.png?v=#{$verion}) no-repeat;
            background-size: 100% auto;
            width: 40px;
            height: 40px;
            top: 0;
            left: 0;

            @include media-up(sm) {
                top: 10px;
                left: 20px;
            }
        }

        &:after {
            background-image: url(../../assets/images/quote-right.png?v=#{$verion});
            top: auto;
            left: auto;
            bottom: 0;
            right: 0;

            @include media-up(sm) {
                right: 45px;
            }
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;

        @include media-up(sm) {
            font-size: 20px;
        }
    }

    .text-block {
        display: block;
        flex-grow: 1;
    }

    .info-block {
        font-size: 16px;
        color: #f99929;
        display: flex;
        align-items: center;

        @include media-up(sm) {
            text-align: center;
            display: block;
            flex: 0 0 150px;
            max-width: 150px;
            font-size: 18px;
        }

        @include media-up(md) {
            font-size: 20px;
            flex: 0 0 200px;
            max-width: 200px;
        }
    }

    .img-block {
        max-width: 60px;
        margin: 0 20px 0 0;

        @include media-up(sm) {
            max-width: 90px;
            margin: 0 auto 20px;
        }

        @include media-up(md) {
            max-width: 120px;
        }

        img {
            border-radius: 50%;
            max-width: 100%;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        bottom: auto;
        left: 0;
        opacity: 1;
        width: 30px;

        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 13px 26px 13px 0;
            border-color: transparent #23b0a4;
        }
    }

    .carousel-control-next {
        left: auto;
        right: 0;

        &:before {
            border-width: 13px 0 13px 26px;
        }
    }

    .carousel-indicators {
        top: 100%;
        align-items: center;
        height: 20px;
        margin-top: 28px;

        button {
            height: 9px;
            width: 9px;
            border-radius: 10px;
            border: 0;
            opacity: 1;
            background: #e75d27;
            transition: all 0.6s ease;

            @include media-up(md) {
                height: 13px;
                width: 13px;
            }

            &.active {
                height: 15px;
                width: 15px;

                @include media-up(md) {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
