.time-and-commitment {
    background: $theme-offwhite url(../../assets/images/bg-time-commitment.png) no-repeat;
    background-size: 100% auto;

    .header {
        margin-bottom: 70px;
    }

    .image-block {
        max-width: 220px;
        margin: 0 auto;
    }
}
