@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-light-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-light-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-medium-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-medium-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-medium-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-semibold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-semibold-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-semibold-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Ace';
    src: url('../../assets/fonts/montserrat-ace-bold-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/montserrat-ace-bold-italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
