@import './abstracts/variables';
@import './abstracts/mixins-breakpoints';
@import './abstracts/mixins-master';
@import './helpers/fonts';
@import './helpers/preloader';
@import './helpers/text-replacement';

@import './node_modules/bootstrap/scss/bootstrap';

@import './includes/header';
@import './includes/heading';
@import './includes/footer';

@import './sections/banner';
@import './sections/dialogue';
@import './sections/values';
@import './sections/journey';
@import './sections/you-will-gain';
@import './sections/time-commitment';
@import './sections/testimonials';

body,
.main,
.wrapper {
    position: relative;
}

body {
    min-width: 320px;
}

.browse-courses {
    border-width: 2px;
    border-radius: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 1;

    &:hover {
        color: #fff;
    }

    @include media-up(xl) {
        padding: 0.7rem 1rem;
    }

    @include media-up(xxl) {
        min-width: 157px;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

.btn-info,
.btn-outline-info {

    &:hover {
        border-color: $theme-green;
        background: $theme-green;
    }
}

.main {

    .browse-courses {
        min-width: 196px;
        font-weight: 700;
        font-size: 1.25rem;
        padding: 7px 10px 10px;

        &:hover {
            border-color: $theme-green-dark;
            background: $theme-green-dark;
        }
    }
}
